<!DOCTYPE html>
<html>

<head>
  <title>Create new post</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <p><a href="/">Home</a></p>
  
  <h2>Create new blog post</h2>
  <form action="/blog/create" method="POST">
    <label for="title">Title</label><br>
    <input type="text" placeholder="Title" name="title" required>
    <br><br>
    <label for="detail">Detail</label><br>
    <textarea placeholder="Detail" name="detail" required></textarea>
    <br><br>
    <button type="submit">Submit</button>
  </form>
</body>

</html>